# Složky, které si Unity generuje samo a do Gitu nepatøí
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Visual Studio a další IDE soubory
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Doèasné a zbyteèné soubory
sysinfo.txt
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Další cache
.gradle/